/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin:37px;
   background-image: url("s3.jpg");
   backface-visibility: hidden ;
   background-size: cover;

    
}
.container {       
    background-image: url("s1.jpg");
    max-width: 450px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 198px;
}

h1 {
    font-size: large;
    text-align: center;
    margin: 5px;
    color: #e2df11;
    font-family: 'Boogaloo', sans-serif;
}


form {
    margin: 105px;
}

label, select {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e2df11;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#smoothie-description {
    margin-top: 20px;
    font-style: italic;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
